<a href="https://dataplatform.cloud.ibm.com/gallery">IBM Cloud Gallery</a> hyperlink

`render`

# Header

*italic*

_italic2_

**highlight**

__highlight2__

**_italic+highlight_**

* Frist unorder

- Frist unorder

+ First unOrder

[This is a hyperlink](https://www.google.com/)

[hyperlink with number] [1]

[1]: https://www.google.com/

|rows|columns|
|-|-|
| cell | cell |
|hi|hello|

|1 col|2 col|3 col|money|
|---|---|---|:---------:|
|cell|cell||160000|
|cell||cell|720000|
||cell|cell|192900|

| Tables        | Are           | Cool  |
| ------------- |:-------------:| -----:|
| col 3 is      | right-aligned | $1600 |
| col 2 is      | centered      |   $12 |
| zebra stripes | are neat      |    $1 |

Markdown | Less | Pretty
--- | --- | ---
*Still* | `renders` | **nicely**
1 | 2 | 3

Image:
![alt text](https://github.com/adam-p/markdown-here/raw/master/src/common/images/icon48.png "Logo Title Text 1")

In [14]:
s = "Python"

In [15]:
print (s)

Python

Here is a simple footnotes[^1].

[^1]: My references.

---

***

___

<table>
    <tr>
        <th>header1</th>
        <th>header1</th>
    </tr>
    <tr>
        <td>cell</td>
        <td>cell</td>
    </tr>
</table>

>Blockquotes
>testing

Here's a line for us to start with.
--
This line is separated from the one above by two newlines, so it will be a *separate paragraph*.

<a href="https://www.youtube.com/">Go to YouTube!</a>

---

___

In [19]:
# exploratory data

In [25]:
import pandas as pd
import numpy as np
import seaborn as sns                       #visualisation
import matplotlib.pyplot as plt             #visualisation
%matplotlib inline     
sns.set(color_codes=True)

In [29]:
#read data
df = pd.read_csv("owid-covid-data.csv")
# To display the top 5 rows 
df.head(5)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2/24/2020,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2/25/2020,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2/26/2020,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2/27/2020,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2/28/2020,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [30]:
# To display the botton 5 rows
df.tail(5)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
190650,ZWE,Africa,Zimbabwe,5/27/2022,251959.0,313.0,212.857,5500.0,2.0,1.571,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
190651,ZWE,Africa,Zimbabwe,5/28/2022,251959.0,0.0,212.857,5500.0,0.0,1.571,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
190652,ZWE,Africa,Zimbabwe,5/29/2022,252092.0,133.0,207.143,5500.0,0.0,0.857,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
190653,ZWE,Africa,Zimbabwe,5/30/2022,252092.0,0.0,198.571,5500.0,0.0,0.714,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
190654,ZWE,Africa,Zimbabwe,5/31/2022,252398.0,306.0,209.857,5503.0,3.0,1.000,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN

In [31]:
#Checking the types of data
df.dtypes

iso_code                                    object
continent                                   object
location                                    object
date                                        object
total_cases                                float64
                                            ...
human_development_index                    float64
excess_mortality_cumulative_absolute       float64
excess_mortality_cumulative                float64
excess_mortality                           float64
excess_mortality_cumulative_per_million    float64
Length: 67, dtype: object

In [45]:
#Dropping irrelevant columns
df = df.drop(['excess_mortality_cumulative_per_million','excess_mortality','excess_mortality_cumulative','excess_mortality_cumulative_absolute','human_development_index','hospital_beds_per_thousand','handwashing_facilities','new_deaths_smoothed','new_cases_smoothed'], axis=1)
df.head(6)

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,...,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,new_vaccinations_smoothed_per_million,population,median_age,gdp_per_capita,female_smokers,male_smokers,life_expectancy
0,AFG,Asia,Afghanistan,2/24/2020,5.0,5.0,NaN,NaN,0.126,0.126,...,NaN,NaN,NaN,NaN,39835428.0,18.6,1803.987,NaN,NaN,64.83
1,AFG,Asia,Afghanistan,2/25/2020,5.0,0.0,NaN,NaN,0.126,0.000,...,NaN,NaN,NaN,NaN,39835428.0,18.6,1803.987,NaN,NaN,64.83
2,AFG,Asia,Afghanistan,2/26/2020,5.0,0.0,NaN,NaN,0.126,0.000,...,NaN,NaN,NaN,NaN,39835428.0,18.6,1803.987,NaN,NaN,64.83
3,AFG,Asia,Afghanistan,2/27/2020,5.0,0.0,NaN,NaN,0.126,0.000,...,NaN,NaN,NaN,NaN,39835428.0,18.6,1803.987,NaN,NaN,64.83
4,AFG,Asia,Afghanistan,2/28/2020,5.0,0.0,NaN,NaN,0.126,0.000,...,NaN,NaN,NaN,NaN,39835428.0,18.6,1803.987,NaN,NaN,64.83
5,AFG,Asia,Afghanistan,2/29/2020,5.0,0.0,NaN,NaN,0.126,0.000,...,NaN,NaN,NaN,NaN,39835428.0,18.6,1803.987,NaN,NaN,64.83

In [46]:
#Renaming the columns
df = df.rename(columns={'location':'country', 'total_cases':'TotalCases'})

In [47]:
df.head(5)

,iso_code,continent,country,date,TotalCases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,...,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,new_vaccinations_smoothed_per_million,population,median_age,gdp_per_capita,female_smokers,male_smokers,life_expectancy
0,AFG,Asia,Afghanistan,2/24/2020,5.0,5.0,NaN,NaN,0.126,0.126,...,NaN,NaN,NaN,NaN,39835428.0,18.6,1803.987,NaN,NaN,64.83
1,AFG,Asia,Afghanistan,2/25/2020,5.0,0.0,NaN,NaN,0.126,0.000,...,NaN,NaN,NaN,NaN,39835428.0,18.6,1803.987,NaN,NaN,64.83
2,AFG,Asia,Afghanistan,2/26/2020,5.0,0.0,NaN,NaN,0.126,0.000,...,NaN,NaN,NaN,NaN,39835428.0,18.6,1803.987,NaN,NaN,64.83
3,AFG,Asia,Afghanistan,2/27/2020,5.0,0.0,NaN,NaN,0.126,0.000,...,NaN,NaN,NaN,NaN,39835428.0,18.6,1803.987,NaN,NaN,64.83
4,AFG,Asia,Afghanistan,2/28/2020,5.0,0.0,NaN,NaN,0.126,0.000,...,NaN,NaN,NaN,NaN,39835428.0,18.6,1803.987,NaN,NaN,64.83

In [49]:
#Dropping the duplicate rows
df.shape #to check i have how many rows

(190655, 49)

In [50]:
DuplicateRows = df[df.duplicated()]
print("Num of duplicated row = ", DuplicateRows.shape)

Num of duplicated row =  (0, 49)

In [51]:
df.count()      # Used to count the number of rows, only calculate row with full information, if a row has null then no count

iso_code                                 190655
continent                                179568
country                                  190655
date                                     190655
TotalCases                               183147
new_cases                                182914
total_deaths                             164699
new_deaths                               164673
total_cases_per_million                  182302
new_cases_per_million                    182069
new_cases_smoothed_per_million           180900
total_deaths_per_million                 163867
new_deaths_per_million                   163841
new_deaths_smoothed_per_million          162683
reproduction_rate                        140710
icu_patients                              25385
icu_patients_per_million                  25385
hosp_patients                             26633
hosp_patients_per_million                 26633
weekly_icu_admissions                      6191
weekly_icu_admissions_per_million          6191
weekly_hosp_admissions                    12343
weekly_hosp_admissions_per_million        12343
total_tests                               77383
new_tests                                 73768
total_tests_per_thousand                  77383
new_tests_per_thousand                    73768
new_tests_smoothed                       100689
new_tests_smoothed_per_thousand          100689
positive_rate                             92852
tests_per_case                            91122
tests_units                              103452
total_vaccinations                        52130
people_vaccinated                         49666
people_fully_vaccinated                   47124
total_boosters                            24211
new_vaccinations                          42722
new_vaccinations_smoothed                102759
total_vaccinations_per_hundred            52130
people_vaccinated_per_hundred             49666
people_fully_vaccinated_per_hundred       47124
total_boosters_per_hundred                24211
new_vaccinations_smoothed_per_million    102759
population                               189493
median_age                               157467
gdp_per_capita                           156627
female_smokers                           118830
male_smokers                             117201
life_expectancy                          178304
dtype: int64

In [52]:
#Dropping the missing or null values.
print(df.isnull().sum())

iso_code                                      0
continent                                 11087
country                                       0
date                                          0
TotalCases                                 7508
new_cases                                  7741
total_deaths                              25956
new_deaths                                25982
total_cases_per_million                    8353
new_cases_per_million                      8586
new_cases_smoothed_per_million             9755
total_deaths_per_million                  26788
new_deaths_per_million                    26814
new_deaths_smoothed_per_million           27972
reproduction_rate                         49945
icu_patients                             165270
icu_patients_per_million                 165270
hosp_patients                            164022
hosp_patients_per_million                164022
weekly_icu_admissions                    184464
weekly_icu_admissions_per_million        184464
weekly_hosp_admissions                   178312
weekly_hosp_admissions_per_million       178312
total_tests                              113272
new_tests                                116887
total_tests_per_thousand                 113272
new_tests_per_thousand                   116887
new_tests_smoothed                        89966
new_tests_smoothed_per_thousand           89966
positive_rate                             97803
tests_per_case                            99533
tests_units                               87203
total_vaccinations                       138525
people_vaccinated                        140989
people_fully_vaccinated                  143531
total_boosters                           166444
new_vaccinations                         147933
new_vaccinations_smoothed                 87896
total_vaccinations_per_hundred           138525
people_vaccinated_per_hundred            140989
people_fully_vaccinated_per_hundred      143531
total_boosters_per_hundred               166444
new_vaccinations_smoothed_per_million     87896
population                                 1162
median_age                                33188
gdp_per_capita                            34028
female_smokers                            71825
male_smokers                              73454
life_expectancy                           12351
dtype: int64

In [53]:
df=df.dropna()

In [55]:
df.count()

iso_code                                 1628
continent                                1628
country                                  1628
date                                     1628
TotalCases                               1628
new_cases                                1628
total_deaths                             1628
new_deaths                               1628
total_cases_per_million                  1628
new_cases_per_million                    1628
new_cases_smoothed_per_million           1628
total_deaths_per_million                 1628
new_deaths_per_million                   1628
new_deaths_smoothed_per_million          1628
reproduction_rate                        1628
icu_patients                             1628
icu_patients_per_million                 1628
hosp_patients                            1628
hosp_patients_per_million                1628
weekly_icu_admissions                    1628
weekly_icu_admissions_per_million        1628
weekly_hosp_admissions                   1628
weekly_hosp_admissions_per_million       1628
total_tests                              1628
new_tests                                1628
total_tests_per_thousand                 1628
new_tests_per_thousand                   1628
new_tests_smoothed                       1628
new_tests_smoothed_per_thousand          1628
positive_rate                            1628
tests_per_case                           1628
tests_units                              1628
total_vaccinations                       1628
people_vaccinated                        1628
people_fully_vaccinated                  1628
total_boosters                           1628
new_vaccinations                         1628
new_vaccinations_smoothed                1628
total_vaccinations_per_hundred           1628
people_vaccinated_per_hundred            1628
people_fully_vaccinated_per_hundred      1628
total_boosters_per_hundred               1628
new_vaccinations_smoothed_per_million    1628
population                               1628
median_age                               1628
gdp_per_capita                           1628
female_smokers                           1628
male_smokers                             1628
life_expectancy                          1628
dtype: int64

In [56]:
print(df.isnull().sum())   # After dropping the values

iso_code                                 0
continent                                0
country                                  0
date                                     0
TotalCases                               0
new_cases                                0
total_deaths                             0
new_deaths                               0
total_cases_per_million                  0
new_cases_per_million                    0
new_cases_smoothed_per_million           0
total_deaths_per_million                 0
new_deaths_per_million                   0
new_deaths_smoothed_per_million          0
reproduction_rate                        0
icu_patients                             0
icu_patients_per_million                 0
hosp_patients                            0
hosp_patients_per_million                0
weekly_icu_admissions                    0
weekly_icu_admissions_per_million        0
weekly_hosp_admissions                   0
weekly_hosp_admissions_per_million       0
total_tests                              0
new_tests                                0
total_tests_per_thousand                 0
new_tests_per_thousand                   0
new_tests_smoothed                       0
new_tests_smoothed_per_thousand          0
positive_rate                            0
tests_per_case                           0
tests_units                              0
total_vaccinations                       0
people_vaccinated                        0
people_fully_vaccinated                  0
total_boosters                           0
new_vaccinations                         0
new_vaccinations_smoothed                0
total_vaccinations_per_hundred           0
people_vaccinated_per_hundred            0
people_fully_vaccinated_per_hundred      0
total_boosters_per_hundred               0
new_vaccinations_smoothed_per_million    0
population                               0
median_age                               0
gdp_per_capita                           0
female_smokers                           0
male_smokers                             0
life_expectancy                          0
dtype: int64

In [60]:
#Detecting Outliers
df.head(5)
sns.boxplot(x=df('total_deaths'))

TypeError: 'DataFrame' object is not callable

In [61]:
Q1 = df.quantile(0.25)
Q3 = df.quantile(0.75)
IQR = Q3 - Q1
print(IQR)

TotalCases                               5.286976e+06
new_cases                                2.678825e+04
total_deaths                             1.120802e+05
new_deaths                               1.132500e+02
total_cases_per_million                  1.727938e+05
new_cases_per_million                    8.758428e+02
new_cases_smoothed_per_million           8.848702e+02
total_deaths_per_million                 1.413439e+03
new_deaths_per_million                   2.755500e+00
new_deaths_smoothed_per_million          2.943250e+00
reproduction_rate                        4.300000e-01
icu_patients                             1.399250e+03
icu_patients_per_million                 2.606100e+01
hosp_patients                            1.019150e+04
hosp_patients_per_million                2.393420e+02
weekly_icu_admissions                    6.452500e+02
weekly_icu_admissions_per_million        1.634775e+01
weekly_hosp_admissions                   4.646500e+03
weekly_hosp_admissions_per_million       1.373940e+02
total_tests                              9.753223e+07
new_tests                                3.407710e+05
total_tests_per_thousand                 2.026777e+03
new_tests_per_thousand                   6.157500e+00
new_tests_smoothed                       3.207105e+05
new_tests_smoothed_per_thousand          4.964000e+00
positive_rate                            1.390500e-01
tests_per_case                           3.940000e+01
total_vaccinations                       8.322456e+07
people_vaccinated                        4.226874e+07
people_fully_vaccinated                  3.853595e+07
total_boosters                           5.211486e+06
new_vaccinations                         1.848378e+05
new_vaccinations_smoothed                1.841918e+05
total_vaccinations_per_hundred           7.714750e+01
people_vaccinated_per_hundred            1.854500e+01
people_fully_vaccinated_per_hundred      1.690250e+01
total_boosters_per_hundred               4.556000e+01
new_vaccinations_smoothed_per_million    4.652500e+03
population                               5.813100e+07
median_age                               1.900000e+00
gdp_per_capita                           5.999765e+03
female_smokers                           1.030000e+01
male_smokers                             2.900000e+00
life_expectancy                          3.590000e+00
dtype: float64

In [62]:
df = df[~((df < (Q1 - 1.5 * IQR)) |(df > (Q3 + 1.5 * IQR))).any(axis=1)]
df.shape

C:\Users\Chan Meng\AppData\Local\Temp\ipykernel_10816\4147643536.py:1: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version. Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  df = df[~((df < (Q1 - 1.5 * IQR)) |(df > (Q3 + 1.5 * IQR))).any(axis=1)]

(311, 49)

In [66]:
#Plot different features against one another (scatter), against frequency (histogram)
#histogram
df.Make.value_counts().nlargest(40).plot(kind='bar', figsize=(10,5))
plt.title("Death Rate")
plt.ylabel('total_deaths')
plt.xlabel('TotalCases');
#Heat Maps
plt.figure(figsize=(10,5))
c= df.corr()
sns.heatmap(c,cmap="BrBG",annot=True)
c
#Scatterplot
fig, ax = plt.subplots(figsize=(10,6))
ax.scatter(df['TotalCases'], df['total_deaths'])
ax.set_xlabel('TotalCases')
ax.set_ylabel('total_deaths')
plt.show()

AttributeError: 'DataFrame' object has no attribute 'Make'